{{#> layout }}
        <!-- Index Menu -->
        <div class="small-12 large-3 columns  no-print" data-sticky-container>
            <nav class="sticky" data-sticky data-anchor="main" data-sticky-on="large">
                <h3>Files</h3>
                <ul class="menu vertical">
                    {{#each files}}
                    <li class="{{#ifCond name '==' @root.name}}active{{/ifCond}}"><a href="{{docFileName}}">{{toUpperCase name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        <!-- /Index Menu -->

        <!-- Main Content -->
        <div id="main" class="small-12 large-6 columns">

            <!-- Main comment -->
            <section>
                <h3>{{name}}</h3>
                {{#if global}}
                {{#ifCond global.author '||' global.created}}
                <h5 class="text-right"><small>Package created {{#if global.author}}by {{global.author}}{{/if}} {{#if global.created}}on {{global.created}}{{/if}}</small></h5>
                {{/ifCond}}
                <div class="description lead">
                    {{{global.description.full}}}
                </div>
                {{else}}
                <p class="lead">No global description.</p>
                {{/if}}
            </section>
            <!-- /Main comment -->

            <!-- Types -->
            <section>
                <h3>Types</h3>
                {{#if types}}
                    {{#each types}}
                        <h5 class="subheader">{{name}}</h5>
                        <pre class="language-sql"><code class="language-sql">{{{lineBreakToBr code}}}</code></pre>
                        <p class="lead">{{description}}</p>
                    {{/each}}
                {{else}}
                    <p class="lead">No types.</p>
                {{/if}}
            </section>
            <!-- /Types -->

            <!-- Constants -->
            <section>
                <h3>Constants</h3>
                {{#if constants}}
                    {{#each constants}}
                        <h5 class="subheader">{{name}}</h5>
                        <pre class="language-sql"><code class="language-sql">{{{lineBreakToBr code}}}</code></pre>
                        <p class="lead">{{description}}</p>
                    {{/each}}
                {{else}}
                    <p class="lead">No constants.</p>
                {{/if}}
            </section>
            <!-- /Constants -->

            <!-- Variables -->
            <section>
                <h3>Variables</h3>
                {{#if variables}}
                    {{#each variables}}
                        <h5 class="subheader">{{name}}</h5>
                            <pre class="language-sql"><code class="language-sql">{{{code}}}</code></pre>
                        <p class="lead">{{description}}</p>
                    {{/each}}
                {{else}}
                <p class="lead">No variables.</p>
                {{/if}}
            </section>
            <!-- /Variables -->

            <!-- Exceptions -->
            <section>
                <h3>Exceptions</h3>
                {{#if exceptions}}
                    {{#each exceptions}}
                        <h5 class="subheader">{{name}}</h5>
                            <pre class="language-sql"><code class="language-sql">{{{code}}}</code></pre>
                        <p class="lead">{{description}}</p>
                    {{/each}}
                {{else}}
                    <p class="lead">No exceptions.</p>
                {{/if}}
            </section>
            <!-- /Exceptions -->

            {{#each methods}} {{#unless isPrivate}} <!-- Don't show private methods-->
            <section id="{{toUpperCase name}}" data-magellan-target="{{toUpperCase name}}">
                <h3>
                    <span class="info label">{{initCap type}}</span>
                    {{toUpperCase displayName}}
                </h3>
                <h5 class="text-right"><small>Created {{#if author}}by {{author}}{{/if}} {{#if created}}on {{created}}{{/if}}</small></h5>
                {{#ifCond author '||' created}}
                {{/ifCond}}
                <div class="description lead">
                    {{{description.full}}}
                </div>

                <div class="section-container code auto">
                    <div class="section active" style="padding-top: 26px;">
                        <h4 class="title">Syntax</h4>
                        <div class="content">
                            <pre class="language-sql"><code class="language-sql">{{{header}}}</code></pre>
                        </div>
                    </div>
                </div>

                {{#ifCond params.length '||' return}}
                <div class="section-container code auto">
                    <div class="section active" style="padding-top: 26px;">
                        <h4 class="title">Parameters</h4>
                        <div class="content">
                            <div class="tags">
                                <ul class="no-bullet">
                                    {{#each params}}
                                    <li><strong>@param </strong><kbd>{{name}}</kbd> {{{description}}}</li>
                                    {{/each}}
                                    {{#if return}}
                                    <br>
                                    <li><strong>@return </strong><kbd>{{return}}</kbd></li>
                                    {{/if}} {{! return}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}

                {{#if throws.length}}
                <div class="section-container code auto">
                    <div class="section active" style="padding-top: 26px;">
                        <h4 class="title">Thrown exceptions</h4>
                        <div class="content">
                            <div class="tags">
                                <ul class="no-bullet">
                                    {{#each throws}}
                                    <li><strong>@throws </strong><kbd>{{{description}}}</kbd></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{#if example}}
                <div class="section-container code auto">
                    <div class="section active" style="padding-top: 26px;">
                        <h4 class="title">Example</h4>
                        <div class="content">
                            <pre class="language-sql"><code class="language-sql">{{{example}}}</code></pre>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{#if issues.length}}
                <div class="section-container code auto">
                    <div class="section active" style="padding-top: 26px;">
                        <h4 class="title">Related Issues</h4>
                        <div class="content">
                            <div class="tags">
                                <ul class="no-bullet">
                                    {{#each issues}}
                                    <li><strong>@issue </strong><kbd>{{number}}</kdb> {{{description}}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </section>
            {{/unless}} {{/each}} {{! methods }}
        </div>
        <!-- /Main Content -->

        <!-- Right Sidenav -->
        <div class="small-12 large-3 columns show-for-large" data-sticky-container>
            <nav class="sticky" data-sticky data-anchor="main" data-sticky-on="large">
                <h3>Content</h3>
                <ul class="vertical menu" data-magellan>
                    {{#each methods}} {{#unless isPrivate}} <!-- Don't show private methods-->
                    <li><a href="#{{toUpperCase name}}">{{toUpperCase displayName}}</a></li>
                    {{/unless}} {{/each}} {{! methods }}
                </ul>
            </nav>
        </div>
        <!-- /Right Sidenav -->
{{/layout}}
